body {
    align-items: center;
    background-image: url("homepage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    opacity: 100%;
  }
  
  li {
    float: left;
  }
  
h1 {
    color: white;
    text-align: center;
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:white;
    color: black;
  }

img {
    max-width: 100%;
    max-height: 100%;



}

.page-content {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color:rgba(179, 224, 255, 0.1);
    color: white;


}

.contact-container {
    border-radius: 5px;
    padding: 20px;

}

input[type=text], select, textarea {
    margin-bottom: 16px;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    margin-top: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical
  }

  